In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("simple_start_stop_labels.csv")
data = data.drop(["Unnamed: 0"], 1)
data["length"] = data["pair_stop"]-data["pair_start"]
data.head()

,subject,task,sensor,pair_start,pair_stop,HOA/PD,label,reason,count,length
0,PDMotion_0020_Test,PS,right,11.3750,21.4125,0,0,NaN,7,10.0375
1,PDMotion_0020_Test,PS,left,65.9625,76.5750,0,1,NaN,7,10.6125
2,PDMotion_0020_Test,HM,right,15.0500,25.3375,0,1,a,7,10.2875
3,PDMotion_0020_Test,HM,left,31.6875,41.7250,0,0,NaN,7,10.0375
4,PDMotion_0020_Test,FT,right,10.0250,20.0500,0,0,NaN,7,10.0250

In [3]:
#We have 48 total subjects (0000_test)
data.describe()

       pair_start   pair_stop      HOA/PD       label       count      length
count  472.000000  472.000000  472.000000  472.000000  472.000000  472.000000
mean    26.548861   38.394439    0.661017    1.421610    8.436441   11.845577
std     15.076196   15.828054    0.473866    1.083655    3.660802    3.659352
min      4.262500   15.925000    0.000000    0.000000    2.000000    5.000000
25%     15.159375   26.456250    0.000000    1.000000    7.000000   10.012500
50%     23.893750   35.256250    1.000000    1.000000    7.000000   10.300000
75%     34.378125   46.093750    1.000000    2.000000    9.000000   12.400000
max    114.962500  124.962500    1.000000    4.000000   41.000000   44.600000

In [4]:
data.groupby("label")["count"].sum()
#This is the number of 5 second samples per each label

label
0     689
1    1417
2     796
3     917
4     163
Name: count, dtype: int64

In [ ]:
data.groupby("label")["subject"].count()
#This is the number of triplets that we have for each label

label
0.0     97
1.0    186
2.0     97
3.0     77
4.0     15
Name: subject, dtype: int64

In [ ]:
data.groupby("task")["count"].sum()
#This is the number of 5 second chunks per task

task
FT    784.0
HM    810.0
LA    683.0
PS    881.0
TT    824.0
Name: count, dtype: float64

In [ ]:
data.groupby("task")["subject"].count()
# Number of triplets per task

task
FT    96
HM    96
LA    92
PS    96
TT    92
Name: subject, dtype: int64

In [5]:
data.groupby("HOA/PD")["count"].sum()
#This is the number of 5 second chunks per HOA(0) and PD(1)

HOA/PD
0    1274
1    2708
Name: count, dtype: int64

In [6]:
data.groupby("HOA/PD")["subject"].count()
# Number of triplets per HOA(0) and PD(1)

HOA/PD
0    160
1    312
Name: subject, dtype: int64

In [25]:
print(data.groupby("task")["HOA/PD"].sum())
# Number of PD triplets per task
print(data.groupby("task")["subject"].count() - data.groupby("task")["HOA/PD"].sum())
# Number of HOA triplets per tasl

task
FT    64
HM    64
LA    60
PS    64
TT    60
Name: HOA/PD, dtype: int64
task
FT    32
HM    32
LA    32
PS    32
TT    32
dtype: int64

In [8]:
data.groupby(["HOA/PD", "label"])["subject"].count()
# Number of triplets per HOA(0) and PD(1) x impairement label 
# 10 classes total

HOA/PD  label
0       0         66
        1         67
        2         24
        3          3
1       0         31
        1        119
        2         73
        3         74
        4         15
Name: subject, dtype: int64

In [10]:
data.groupby(["HOA/PD", "label"])["count"].sum()
# Number of 5 seconds chunks per HOA(0) and PD(1) x impairement label 
# 10 classes total

HOA/PD  label
0       0        465
        1        575
        2        213
        3         21
1       0        224
        1        842
        2        583
        3        896
        4        163
Name: count, dtype: int64

In [16]:
data.describe()

       pair_start   pair_stop       label       count
count  472.000000  472.000000  472.000000  472.000000
mean    26.548861   38.394439    1.421610    8.436441
std     15.076196   15.828054    1.083655    3.660802
min      4.262500   15.925000    0.000000    2.000000
25%     15.159375   26.456250    1.000000    7.000000
50%     23.893750   35.256250    1.000000    7.000000
75%     34.378125   46.093750    2.000000    9.000000
max    114.962500  124.962500    4.000000   41.000000

In [15]:
data[data["label"] == 0].describe()

       pair_start  pair_stop  label      count
count   97.000000  97.000000   97.0  97.000000
mean    20.282216  30.753479    0.0   7.103093
std     10.717185  10.586074    0.0   1.446868
min      5.012500  15.925000    0.0   2.000000
25%     13.975000  24.650000    0.0   7.000000
50%     17.512500  28.050000    0.0   7.000000
75%     24.275000  35.650000    0.0   7.000000
max     65.150000  75.187500    0.0  16.000000

In [17]:
data[data["label"] == 1].describe()

       pair_start   pair_stop  label       count
count  186.000000  186.000000  186.0  186.000000
mean    26.336761   37.363575    1.0    7.618280
std     14.427454   14.541050    0.0    2.168444
min      5.950000   17.200000    1.0    2.000000
25%     16.281250   27.250000    1.0    7.000000
50%     24.418750   35.137500    1.0    7.000000
75%     32.971875   43.609375    1.0    8.000000
max    111.612500  121.612500    1.0   16.000000

In [18]:
data[data["label"] == 2].describe()

       pair_start   pair_stop  label      count
count   97.000000   97.000000   97.0  97.000000
mean    29.207861   40.795103    2.0   8.206186
std     17.586282   17.860249    0.0   2.645508
min      4.262500   17.237500    2.0   2.000000
25%     15.250000   26.225000    2.0   7.000000
50%     25.837500   37.425000    2.0   7.000000
75%     39.912500   51.237500    2.0   9.000000
max    114.962500  124.962500    2.0  19.000000

In [19]:
data[data["label"] == 3].describe()

       pair_start  pair_stop  label      count
count   77.000000  77.000000   77.0  77.000000
mean    29.938312  45.299351    3.0  11.909091
std     15.982829  17.352571    0.0   6.004783
min      6.025000  19.087500    3.0   7.000000
25%     14.975000  30.387500    3.0   8.000000
50%     32.450000  43.812500    3.0  10.000000
75%     42.300000  57.437500    3.0  14.000000
max     63.100000  90.562500    3.0  41.000000

In [20]:
data[data["label"] == 4].describe()

       pair_start  pair_stop  label      count
count   15.000000  15.000000   15.0  15.000000
mean    35.109167  49.619167    4.0  10.866667
std     11.734772  13.718795    0.0   6.034030
min     17.662500  27.662500    4.0   4.000000
25%     30.687500  41.212500    4.0   7.000000
50%     31.437500  47.437500    4.0   7.000000
75%     41.362500  56.343750    4.0  13.500000
max     65.087500  75.087500    4.0  24.000000

In [25]:
data[(data["label"] == 1) &  (data["task"] == "HM")].describe()

       pair_start   pair_stop  label      count
count   37.000000   37.000000   37.0  37.000000
mean    29.487500   40.438176    1.0   7.621622
std     17.931149   18.310509    0.0   1.604704
min      6.875000   17.200000    1.0   4.000000
25%     18.612500   28.612500    1.0   7.000000
50%     24.450000   35.175000    1.0   7.000000
75%     36.375000   46.437500    1.0   8.000000
max    111.612500  121.612500    1.0  13.000000

In [41]:
data.describe()

       pair_start   pair_stop       label       count      length
count  472.000000  472.000000  472.000000  472.000000  472.000000
mean    26.548861   38.394439    1.421610    8.436441   11.845577
std     15.076196   15.828054    1.083655    3.660802    3.659352
min      4.262500   15.925000    0.000000    2.000000    5.000000
25%     15.159375   26.456250    1.000000    7.000000   10.012500
50%     23.893750   35.256250    1.000000    7.000000   10.300000
75%     34.378125   46.093750    2.000000    9.000000   12.400000
max    114.962500  124.962500    4.000000   41.000000   44.600000

In [46]:
data.groupby('task')["count"].describe()
#we have 96 triplets with average 8 chunks of 5 seconds per triplet [11 seconds in length] for FT task
#conclusion: samples are balanced in task

      count      mean       std  min  25%  50%    75%   max
task
FT     96.0  8.166667  3.475226  2.0  7.0  7.0   8.25  34.0
HM     96.0  8.437500  3.317616  4.0  7.0  7.0   9.00  30.0
LA     92.0  7.423913  2.123825  3.0  7.0  7.0   7.00  16.0
PS     96.0  9.177083  4.831900  2.0  7.0  7.0  10.00  41.0
TT     92.0  8.956522  3.796798  2.0  7.0  7.0  10.00  24.0

In [54]:
data.groupby('label')["subject"].describe()

      count unique                   top freq
label
0.0      97     31    PDMotion_0026_Test    8
1.0     186     41  PDMotion_0010_Retest    9
2.0      97     35    PDMotion_0029_Test    7
3.0      77     21    PDMotion_0022_Test   10
4.0      15      9    PDMotion_0009_Test    6

In [40]:
data["length"] = data["pair_stop"]-data["pair_start"]
data.head()

,subject,task,sensor,pair_start,pair_stop,label,reason,count,length
0,PDMotion_0020_Test,PS,right,11.3750,21.4125,0.0,NaN,7.0,10.0375
1,PDMotion_0020_Test,PS,left,65.9625,76.5750,1.0,NaN,7.0,10.6125
2,PDMotion_0020_Test,HM,right,15.0500,25.3375,1.0,a,7.0,10.2875
3,PDMotion_0020_Test,HM,left,31.6875,41.7250,0.0,NaN,7.0,10.0375
4,PDMotion_0020_Test,FT,right,10.0250,20.0500,0.0,NaN,7.0,10.0250

In [91]:
data.groupby("label").describe()
#Remark: Discuss with professor imbalance of data when grouping by labels

      pair_start                                                     \
           count       mean        std      min       25%       50%
label
0.0         97.0  20.282216  10.717185   5.0125  13.97500  17.51250
1.0        186.0  26.336761  14.427454   5.9500  16.28125  24.41875
2.0         97.0  29.207861  17.586282   4.2625  15.25000  25.83750
3.0         77.0  29.938312  15.982829   6.0250  14.97500  32.45000
4.0         15.0  35.109167  11.734772  17.6625  30.68750  31.43750

                           pair_stop             ... count       length  \
             75%       max     count       mean  ...   75%   max  count
label                                            ...
0.0    24.275000   65.1500      97.0  30.753479  ...   7.0  16.0   97.0
1.0    32.971875  111.6125     186.0  37.363575  ...   8.0  16.0  186.0
2.0    39.912500  114.9625      97.0  40.795103  ...   9.0  19.0   97.0
3.0    42.300000   63.1000      77.0  45.299351  ...  14.0  41.0   77.0
4.0    41.362500   65.0875      15.0  49.619167  ...  13.5  24.0   15.0


            mean       std      min       25%       50%        75%      max
label
0.0    10.471263  1.340186   5.8500  10.01250  10.03750  10.375000  19.1250
1.0    11.026815  2.114959   5.0000  10.01250  10.13125  11.409375  19.5125
2.0    11.587242  2.663465   5.9875  10.02500  10.41250  12.150000  22.7250
3.0    15.361039  6.033671  10.0000  11.38750  13.75000  17.675000  44.6000
4.0    14.510000  5.897162  10.0000  10.03125  11.45000  17.262500  27.0875

[5 rows x 32 columns]

In [80]:
data.groupby("subject").first()

,task,sensor,pair_start,pair_stop,label,reason,count,length
subject,,,,,,,,
PDMotion_0001_Retest,PS,right,13.1500,23.2625,2.0,ab,7.0,10.1125
PDMotion_0001_Test,PS,right,15.2875,26.4375,2.0,None,8.0,11.1500
PDMotion_0002_Test,PS,right,33.5500,38.5500,1.0,None,2.0,5.0000
PDMotion_0003_Retest,PS,right,11.3750,21.4125,2.0,ac,7.0,10.0375
PDMotion_0003_Test,PS,right,12.1000,17.7625,1.0,None,2.0,5.6625
PDMotion_0004_Test,PS,right,7.8625,29.8125,3.0,None,18.0,21.9500
PDMotion_0005_Test,PS,right,10.0125,20.0125,2.0,None,7.0,10.0000
PDMotion_0006_Retest,PS,right,12.4375,22.4750,1.0,b,7.0,10.0375
PDMotion_0006_Test,PS,right,17.2500,27.2500,1.0,None,7.0,10.0000
PDMotion_0007_Test,PS,right,15.7125,25.7250,2.0,None,7.0,10.0125
PDMotion_0008_Test,PS,right,9.6875,19.6875,1.0,None,7.0,10.0000
PDMotion_0009_Test,PS,right,10.3500,23.8250,3.0,None,10.0,13.4750
PDMotion_0010_Retest,PS,right,15.0250,25.0375,1.0,None,7.0,10.0125
PDMotion_0010_Test,PS,right,9.9500,19.9500,1.0,None,7.0,10.0000
PDMotion_0011_Retest,PS,right,17.3375,27.3750,1.0,a,7.0,10.0375
PDMotion_0011_Test,PS,right,10.3625,20.3750,1.0,None,7.0,10.0125
PDMotion_0012_Test,PS,right,9.7625,20.4125,3.0,None,7.0,10.6500
PDMotion_0013_Retest,PS,right,14.2750,36.3625,3.0,b,19.0,22.0875
PDMotion_0013_Test,PS,right,13.3875,26.3000,1.0,a,9.0,12.9125
PDMotion_0014_Retest,PS,right,12.0250,22.2250,2.0,a,7.0,10.2000
PDMotion_0014_Retest1,PS,right,4.2625,17.5875,2.0,a,10.0,13.3250
PDMotion_0014_Test,PS,right,6.3750,25.1125,3.0,ac,15.0,18.7375
PDMotion_0015_Test,PS,right,10.9500,22.3000,1.0,a,8.0,11.3500
PDMotion_0017_Test,PS,right,11.2375,21.5375,1.0,None,7.0,10.3000
PDMotion_0018_Test,PS,right,15.9250,30.3875,3.0,c,11.0,14.4625
PDMotion_0019_Retest,PS,right,13.0000,23.9000,2.0,a,7.0,10.9000
PDMotion_0019_Test,PS,right,19.5125,29.6250,1.0,b,7.0,10.1125
PDMotion_0020_Retest,PS,right,12.6125,24.6875,0.0,a,9.0,12.0750
PDMotion_0020_Test,PS,right,11.3750,21.4125,0.0,a,7.0,10.0375
PDMotion_0021_Test,PS,right,14.2125,27.9625,3.0,b,10.0,13.7500
PDMotion_0022_Retest,PS,right,12.6625,31.9000,3.0,a,16.0,19.2375
PDMotion_0022_Test,PS,right,17.1000,35.5500,3.0,None,15.0,18.4500
PDMotion_0023_Retest,PS,right,25.0625,37.0750,1.0,a,9.0,12.0125
PDMotion_0023_Test,PS,right,8.9500,22.7375,2.0,b,10.0,13.7875
PDMotion_0024_Retest,PS,right,16.1625,26.3000,0.0,a,7.0,10.1375
PDMotion_0024_Test,PS,right,20.2125,30.9000,1.0,a,7.0,10.6875
PDMotion_0025_Retest,PS,right,17.4625,40.1875,2.0,b,19.0,22.7250
PDMotion_0025_Test,PS,right,11.0500,24.0500,1.0,b,10.0,13.0000
PDMotion_0026_Retest,PS,right,16.4875,27.0125,1.0,a,7.0,10.5250
PDMotion_0026_Test,PS,right,16.4375,27.5750,0.0,a,8.0,11.1375
PDMotion_0027_Retest,PS,right,11.3625,21.4250,0.0,ab,7.0,10.0625
PDMotion_0027_Test,PS,right,13.7125,25.2750,0.0,a,8.0,11.5625
PDMotion_0028_Retest,PS,right,5.3250,17.3625,0.0,a,9.0,12.0375
PDMotion_0028_Test,PS,right,5.9500,23.1125,1.0,b,14.0,17.1625
PDMotion_0029_Retest,PS,right,37.1750,47.4250,2.0,a,7.0,10.2500
PDMotion_0029_Test,PS,right,20.4875,30.5375,2.0,a,7.0,10.0500
PDMotion_0030_Retest,PS,right,13.8625,23.9250,0.0,b,7.0,10.0625
PDMotion_0030_Test,PS,right,25.9250,38.2750,2.0,b,9.0,12.3500